header {
  background-color: transparent;
  height: 80px;
  display: flex;
  align-items: center;
}

.header-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.nav-buttons button {
  background-color: transparent;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.home-button:hover {
  background-color: grey;
  color: white;
}

.nav-buttons button:hover {
  text-decoration: underline;
  background-color: grey;
}

body {
  background: url('images/black-stone-banner-food-vegetables-spices-background-cooking-183927172.jpg') no-repeat center center fixed;
  background-size: cover;
}

.text-box {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: transparent;
}

.text-box p {
  font-size: 16px;
  line-height: 1.5;
  color: #ebe1e1;
}

.container {
  border: black;
  text-align: center;
}

.container:hover img {
  transform: scale(1.1);
}

h2 {
  align-items: center;
}

img {
  border: 2px solid rgb(102, 11, 11);
}
